doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel='stylesheet', href='./public/auth/index.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
  body 

  .login
  .form
    form.login-form(action='/api' method='post')
      span.material-icons
      img(src='./public/images/foodie hunter.png' alt='')
      input#fname(type='text' name='username')
      input#secname(type='text' name='password')
      input#email(type='text' name='email')
      button login

        script(type='text/javascript').


script.
  Document.getElementById('fname').textContent = username;
  Document.getElementById('secname').textContent = password;
  Document.getElementById('email').textContent = email;
  const data = {username, password, email};
  const options = {
  method: 'POST'
  headers: {
  'Content-Type': 'application/json'
  },
  body: JSON.stringify(data)
  };
  fetch('' , options)
  console.log(fname)
  console.log(secname)
  console.log(email)
  
  fetch('/api' , options)







