doctype html
html(lang="en")
  head
    title= pageTitle

  body

    form(action='/api' method='post')
      input#fname(type='text' name='username')
      input#secname(type='text' name='password')
      input#sub(type='submit' name='')


script.
  Document.getElementById('username').textContent = username;
  Document.getElementById('password').textContent = password;
  const data = {username, password};
  const options = {
  method: 'POST'
  headers: {
  'Content-Type': 'application/json'
  },
  body: JSON.stringify(data)
  };
  fetch(' http://localhost:9899/auth/registration' , options)
