doctype html
html(lang="en")
  head
    title= pageTitle

  body

    form(action='/api' method='post')
      input#fname(type='text' name='username')
      input#secname(type='text' name='password')
      input#sub(type='submit' name='')


